input {
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
    width: 100%;
}

input:hover,
input:active,
input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #000000;
}

i.social-icon {
    margin-right: 20px;
    color: #000000;
    font-size: 24px;
}

.social-sect {
    display: flex;
    flex-direction: column;
}
.soc-link {
    transition: opacity 12s;
}

.soc-link:hover {
    opacity: 0.7;
}